@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-navbar {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(13px);
  border-radius: 30px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.glass-navbar2 {
  background: rgba(15, 15, 15, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 30px; 
  border: 0.2px solid rgba(255, 255, 255, 0.1); 
  box-shadow: 0 2px 20px rgba(129, 92, 250, 0.225);
  color: #ffffff;
}

.glass-sidebar {
  background: rgba(10, 10, 10, 0.3);
  backdrop-filter: blur(13px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  border-right: 1px solid rgba(255, 255, 255, 0.2); 
}

.glass-effect3 {
  background: rgba(10, 10, 10, 0.3);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(12px);
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  border: 1px solid rgba(255, 255, 255, 0.18); 
  color: #f1f1f1;
  transition: box-shadow 0.5s ease;
}

.glass-effect3:hover {
  box-shadow: 8px 8px 28px rgba(129, 92, 250, 0.3);
}

/* .glass-effect3 {
  background: rgba(255, 255, 255, 0.032);
  backdrop-filter: blur(40px); 
  -webkit-backdrop-filter: blur(12px); 
  border: 1px solid rgba(255, 255, 255, 0.2); 
  color: #f1f1f1; 
} */

.glass-effect {
  background: rgba(255, 255, 255, 0.032);
  backdrop-filter: blur(40px); 
  -webkit-backdrop-filter: blur(12px); 
  border-radius: 45px;
  border: 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 0 7px 20px rgba(129, 92, 250, 0.30);
  color: #f1f1f1; 
}

.glass-effect2 {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(40px); 
  -webkit-backdrop-filter: blur(12px); 
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.12); 
  box-shadow: 0 7px 20px rgba(129, 92, 250, 0.1);
  color: #f1f1f1; 
}

.custom-cursor {
  position: absolute;
  width: 0.01px;
  height: 0.01px;
  background-color: rgb(129, 92, 250);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  box-shadow: 0 0 60px 50px #9e36ff78;
  transition: transform 0.1s ease-in-out;
}

::-webkit-scrollbar {
  width: 0px;
}

.button-6 {
  align-items: center;
  background-color: transparent;
  border: 1.2px solid rgba(131, 131, 131, 5);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  /* color: rgba(255, 255, 255, 0.85); */
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  display: inline-flex;
  /* font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif; */
  font-size: 15px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover {
  background-color: rgba(190, 190, 190, 0.85);
  color: rgba(0, 0, 0, 0.85); 
  font-size: 15px;
  font-weight: 600;
  box-shadow: rgb(0, 0, 0) 0 1px 3px 0;
  box-sizing: border-box;
}

.button-5 {
  align-items: center;
  background-color: transparent;
  border: 1.2px solid rgba(131, 131, 131, 5);
  border-radius: .30rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1.25;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  /* width: auto; */
}

.button-5:hover {
  background-color: rgba(225, 225, 225, 0.85);
  color: rgba(0, 0, 0, 0.85); 
  box-shadow: rgb(0, 0, 0) 0 1px 3px 0;
  box-sizing: border-box;
}

.like-icon {
  /* font-size: 240px; */
  transition: transform 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

.like-icon:active {
  transform: scale(1.2);
}

.like-icon.ri-heart-fill {
  animation: pop 0.s ease;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.delete-button {
  /* font-size: 240px; */
  transition: transform 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

.delete-button:active {
  transform: scale(1.2);
}

.delete-button.ri-heart-fill {
  animation: pop 0.s ease;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}


.save-icon {
  /* font-size: 240px; */
  transition: transform 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

.save-icon:active {
  transform: scale(1.2);
}

.save-icon.ri-heart-fill {
  animation: pop 0.s ease;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.glass-navbar5 {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  border-radius: 30px; 
  border: 0.2px solid rgba(255, 255, 255, 0.1); 
  box-shadow: 0 0.5px 20px rgba(129, 92, 250, 0.225);
  color: #ffffff;
}